@{ 
    ViewBag.Title = "Registration complete";
}
<h1>Thank you for your registration</h1>
<p>
    Confirmation email has been sent to your email. Please activate your account before using this app.
</p>